.wrap {
		position:relative;
		margin:0 auto;
		width:50%;
		padding-top:20px;
}

.bold {
	font-weight:bold;
}

.businessProcess {
	position:relative;
	margin:0 auto;
	width:100%;
	top: 102px;
}

.ui-menu .ui-menu-item {
   text-decoration:underline;
}

.hostProcess {
	position:relative;
	margin:0 auto;
	width:100%;
	top: 110px;
}


.zoom {
	align: left;
}

.filter {
	padding-left: 10px;
}

.filter .header-icon.open {
	background-image: url('/dashboard/images/plus.png');
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.filter .header-icon {
	background-image: url('/dashboard/images/minus.png');
	width: 16px;
	height: 16px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}

ul {
    list-style-type: none;
    display: block;
    padding:0;
    margin:0;
}

ul li a {
	 text-decoration:none;
}

ul li a:hover {
	text-decoration:underline;
}

.filter .filter-item a.filter-item-label {
    display: inline;
    color: #0F7DFF;
    word-wrap: break-word;
    font-size: 16px;
}


.filter .filter-item {
	color: #555;
	font-size: 11px;
	font-family: Arial;
	margin: 3px 5px 0px 20px;
}

.filter .filter-item .count {
	color: #737373;
	font-size:16px;
}

.selected-filter-section .filter-item span.remove {
    font-family: Arial;
    font-weight: bold;
    color: #F00;
    font-size: 15px;
    vertical-align: middle;
    display: inline;
    cursor: pointer;
    float: right;
    margin-right:10px;
}

.selected-filter-section .filter-item span.remove:hover {
    color:#fff;
    background-color:#555;
}

.selected-filter-section .filter-item {
    color: #555;
    font-size: 14px;
    font-family: Arial;
    line-height: 20px;
    padding-left:20px;
}

.selected-filter-section .filter-item span.filter-item-label {
    display: inline;
    color: #0F7DFF;
}

.selected-filter-section .filter-item span.filter-item-name {
    display: inline;
    font-weight: bold;
    color: #0F7DFF;
}

.filter-section-header.applied {
    display: block;
}

.filter-section-footer {

}

.filter-section-header, .filter-section-footer {
    margin-left: 1em;
    padding-left:10px;
    display: block;
    color: #555;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    padding-top:5px;
    padding-bottom:5px;
}

.selected-filter-section {
    margin-left: 1em;
    display: block;
    border-bottom: 1px solid #7F7F7F;
    margin-right: 8px;
}

#filter .filter-title {
	display: block;
	color: #555;
	font-size: 14px;
	font-family: Arial;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
	margin-right: 8px;
	padding-left:10px;
	margin-left: 1em;
	border-bottom: 1px solid #7F7F7F;
}

#header {
		position:absolute;
		top:100px;
		width:100%;
		float:left;
		height:120px;
		background-color:#d6d6d6;
}

.filter-header {
    display: inline-block;
    color: #555;
    font-size: 13px;
    font-family: Arial;
    font-weight: bold;
    margin: 0px;
    vertical-align: middle;
    padding: 5px;
    cursor: pointer;
    width: 180px;
}

#loading_image {
	height:30px;
	width:30px;
	position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px; /*half the image width*/
    margin-top: -15px; /*half the image height*/
}

hr {
	width:99%
}
	
#wrapper {
	height: auto;
    width: 100%;
    color: #fff;
}

#graphContainer {
  position: absolute;
  top: 220px;
  left: 0%;
  bottom: 0;
  width: 100%;
  overflow:hidden;
}

#filter {
  overflow:auto;
  margin: 0px;
  color:black;
  position: absolute;
  top: 220px;
  bottom: 0;
  width: 0%;
  background-color: #f5f5f5;
   border-right: 1px solid #eee;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}

#filter h1 {
	text-align:center;
	
}

#filterToggle {
	float:left;
	position:absolute;
	top:180px;
	width:200px;
	text-align:center;
}

.graphZoom {
	top:195px;
	left:210px;
	position:absolute;
}

#filterToggle p a {
	float:left;
}

.labels {
   color: red;
   background-color: white;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 60px;     
   border: 2px solid black;
   white-space: nowrap;
 }

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

p span {
	float:left;
	display:block;
}

ul li {
	list-style-type: none;
}

#reset {
	width:50px;
	position:relative;
	left:50%;
	margin-left: -25px;
	margin-right: -25px;
}

table {
	font-size: 12px;
	width: 100%;
	font-family: Verdana,Arial,sans-serif;
	border: 1px solid #888888;
	border-collapse: collapse;

}

tr {
	height:25px;
	font-size:11px;
}
tr.disabled {
	font-style: italic;
}

.styled-text {
	width: 97%;
	height: 15px;
	overflow: hidden;
	background: #dddddd;
	border: 1px solid #cccccc;
}

.styled-textarea {
	width: 97%;
	height: 50px;
	overflow: auto;
	background:#dddddd;
	border: 1px solid #cccccc;
}

.tftable {
	font-size: 12px;
	color: #404040;
	width: 100%;
	border-width: 1px;
	border-collapse: collapse;
	overflow-y: scroll;
	background-color: #888888;
}
.tftable th {
	font-size: 12px;
	background-color: #404040;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #ffffff;
	text-align: center;
}
.tftable tr {
	background-color: #888888;
}

.tftable th {
	color: #ffffff;
}
.tftable td {
	font-size: 11px;
	border-width: 0px;
	padding: 2px;
	border-style: solid;
	border-color: #fffff;
	color: #ffffff;
	text-align:center;
}

.serverInfo {
	overflow:auto;
}

/**************** Styles for dashboardHeader *****************/
#dashboardHeader {
	background-color:#54301a;
	height:100px;
	width:100%;
	float:right;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
}
#dashboardHeader .dashboardSeparator {
	background-color:#54301a;
	height:20px;
	width:5px;
	float:right;
}
#dashboardHeader .dashboardHeaderStyle {
	color:white;
	font-size:20pt;
}
